In [ ]:
# from google.colab import drive
# drive.mount("/content/gdrive")

## 데이터 조회를 잘하자

In [1]:
import pandas as pd

In [2]:
csData = pd.read_csv("../dataset/customerdata.csv")

In [3]:
## emi <= 2, avg >= 2500

emiCondition = [1,2]
avgPrice = 2500

In [5]:
emi12Data = csData.loc[ (csData.AVGPRICE >= avgPrice) &
            (csData.EMI.isin( emiCondition ) ) ] # 괄호로 안 묶어주면 &이 >=보다 먼저 실행됨!!
print(csData.dtypes) # 컬럼과 비교값 데이터 타입 같아야 하므로 확인!
# print(csData.columns) # 모든 컬럼이 나옴
columnList = list( csData.columns ) # 이러면 리스트가 됨

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [24]:
# 컬럼 타입 바꾸는 법
# csData["CUSTID"] = csData["CUSTID"].astype(str)

In [6]:
for i in range(0, len(columnList)):
    csData[ columnList[i] ] = csData[ columnList[i] ].astype(str)

In [7]:
csData.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
dtype: object

In [31]:
# 원하는 컬럼 조회
targetColumns = ["EMI", "PRODUCTAGE"]
targetPrice = 2500
emiCsData = csData.loc[ csData.AVGPRICE.astype(float) >= targetPrice, targetColumns ] # float이랑 숫자랑 비교가 가능한가?

In [34]:
csData.loc[ : , targetColumns ]
csData.iloc[ :, [2,4] ] # 인덱스는 가독성이 떨어지는데 유지보수 하기엔 좋음

    EMI        PRODUCTAGE
0     3  1.67918084803969
1     2  2.68202302093618
2     2   3.2082015713118
3     2               0.9
4     2  2.45365640323609
..   ..               ...
145   2  2.46367035079282
146   3               0.9
147   2  2.37130050714128
148   2  1.70494219968095
149   2               1.2

[150 rows x 2 columns]

In [37]:
# 이렇게 인덱스로 개발해놓으면 컬럼 이름 바뀌어도 한 군데만 바꾸면 됨
csDataColumns = csData.columns
emiColumnNo = csDataColumns.get_loc("EMI") # 컬럼 인덱스 찾아서 넣음
productageColumnNo = csDataColumns.get_loc("PRODUCTAGE")

In [38]:
csData.iloc[ :, [emiColumnNo, productageColumnNo] ]

    EMI        PRODUCTAGE
0     3  1.67918084803969
1     2  2.68202302093618
2     2   3.2082015713118
3     2               0.9
4     2  2.45365640323609
..   ..               ...
145   2  2.46367035079282
146   3               0.9
147   2  2.37130050714128
148   2  1.70494219968095
149   2               1.2

[150 rows x 2 columns]