In [20]:
# pandas 라이브러리 활용
import pandas as pd
# 데이터 조작!!
import numpy as np

In [21]:
csData = pd.read_csv("https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customerdata.csv")
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

### pd.read_clipboard() 활용

In [14]:
clipData = pd.read_clipboard()
clipData

  col1  col2
0   지수     2
1   몰라     3

## 인덱스 초기화

In [24]:
emiCond = [1, 3]
outData = csData.loc[ csData.EMI.isin( emiCond ) ]
outData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
11   C18622  3246.000000    1            5    1.891624  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
46   I14835  3374.091339    1            4    2.749678      Sleeping-dog
47   I17056  2963.370122    1            3    2.139196      Sleeping-dog
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
56   K10712  3419.462596    1            4    2.825790      Sleeping-dog
57   K13300  3159.839204    1            3    1.960833      Sleeping-dog
60   L13892  3263.515145    3            6    1.100000        Early-bird
65   M16452  3353.537290    1            4    1.940357      Sleeping-dog
67   N13273  3839.694732    3            6    1.100000        Early-bird
68   N14862  2390.083736    1            6    1.000000        Early-bird
72   O13037  3398.216334    1            4    2.994395      Sleeping-dog
73   O13586  2980.229239    1            3    2.038603      Sleeping-dog
86   Q16449  3048.308860    1            3    2.369758      Sleeping-dog
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
140  Y12458  2976.211190    1            3    2.199677      Sleeping-dog
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [29]:
outData = outData.reset_index(drop=True)
outData

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   C18622  3246.000000    1            5    1.891624  Big-Screen-lover
2   F17131  3179.708359    3            6    1.100000        Early-bird
3   G16437  3787.328898    3            6    1.000000        Early-bird
4   G18402  3402.199381    3            6    1.000000        Early-bird
5   H16326  3988.935304    3            6    0.900000        Early-bird
6   I12899  3018.895637    3            6    0.900000        Early-bird
7   I14835  3374.091339    1            4    2.749678      Sleeping-dog
8   I17056  2963.370122    1            3    2.139196      Sleeping-dog
9   J10809  3676.135627    3            6    0.800000        Early-bird
10  J15083  2811.265932    3            6    0.900000        Early-bird
11  J16445  3041.848186    3            6    0.800000        Early-bird
12  K10712  3419.462596    1            4    2.825790      Sleeping-dog
13  K13300  3159.839204    1            3    1.960833      Sleeping-dog
14  L13892  3263.515145    3            6    1.100000        Early-bird
15  M16452  3353.537290    1            4    1.940357      Sleeping-dog
16  N13273  3839.694732    3            6    1.100000        Early-bird
17  N14862  2390.083736    1            6    1.000000        Early-bird
18  O13037  3398.216334    1            4    2.994395      Sleeping-dog
19  O13586  2980.229239    1            3    2.038603      Sleeping-dog
20  Q16449  3048.308860    1            3    2.369758      Sleeping-dog
21  R16364  3592.353540    3            6    0.900000        Early-bird
22  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
23  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
24  V18566  3527.701867    3            6    0.900000        Early-bird
25  W13404  4296.873743    3            6    1.100000        Early-bird
26  X13390  2947.543982    3            6    1.100000        Early-bird
27  Y12458  2976.211190    1            3    2.199677      Sleeping-dog
28  Z11525  3259.018704    3            6    0.900000        Early-bird
29  Z13534  3662.437527    3            6    0.900000        Early-bird

In [31]:
# outData.set_index(keys=["EMI"])

## 데이터 조작하기 (np.where 활용)

In [32]:
dataUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customerdata.csv"
customerData = pd.read_csv(dataUrl)

In [44]:
# 새로운 컬럼 생성
customerData["PRODUCTAGE_NEW999"] = "$"
# PRODUCTAGE가 1보다 작으면 1 아니면 2
np.where( customerData.PRODUCTAGE < 1, 1, 2)

array([2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2,
       1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2])

In [37]:
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW999
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,$
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,$
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,$
3,A16605,3713.211107,2,6,0.900000,Early-bird,$
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,$
...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,$
146,Z13534,3662.437527,3,6,0.900000,Early-bird,$
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,$
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,$
149,Z19835,3326.526183,2,6,1.200000,Early-bird,$

In [45]:
# 컬럼 삭제 - 할당 안 해서 저장 안 됨
customerData.drop(columns=["PRODUCTAGE_NEW999"])
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW999
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,$
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,$
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,$
3,A16605,3713.211107,2,6,0.900000,Early-bird,$
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,$
...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,$
146,Z13534,3662.437527,3,6,0.900000,Early-bird,$
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,$
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,$
149,Z19835,3326.526183,2,6,1.200000,Early-bird,$

In [46]:
# 컬럼 삭제 - 할당해서 저장 됨
customerData = customerData.drop(columns=["PRODUCTAGE_NEW999"])
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [48]:
np.where( "조건", True, False )
np.where( "조건", True, np.where( "조건", True, False ) )

In [52]:
customerData["PRODUCTAGENEW3"] = np.where( customerData.PRODUCTAGE < 1, 1,
         np.where( customerData.PRODUCTAGE < 2, 2, 3 ) )
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGENEW3
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,3
3,A16605,3713.211107,2,6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,3
...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,3
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,3
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2

In [53]:
### 데이터 조작 #1 (np.where : 간단한 데이터 조작 시 속도 빠름)
### 데이터 조작 #2 (함수를 활용한 조작 : 로직이 복잡할 때)

In [62]:
def productAgePreProcessing(inValue, addValue=0):
    """
        docstring
        description: 함수 설명
        param: 
        return:
        ...
    """
    # inValue = 1.2
    outValue = 0
    
    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue = 2
    elif inValue < 3:
        outValue = 3
    else:
        outValue = 5
    outValue += addValue
    return outValue

In [65]:
productAgePreProcessing(1.7, 4)
productAgePreProcessing(1.7)

2

In [67]:
customerData["PRODUCTAGE_NEW4"] = customerData.PRODUCTAGE.apply( productAgePreProcessing )
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGENEW3,PRODUCTAGE_NEW4
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,2,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,3,3
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,3,5
3,A16605,3713.211107,2,6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,3,3
...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,3,3
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1,1
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,3,3
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2,2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2,2

## 데이터 조작하기 (loc)

In [71]:
customerData.loc[ customerData.PRODUCTAGE < 1, "PRODUCTAGE_LOC" ] = 1  # 조건에 해당하는 "PRODUCTAGE_LOC" 컬럼의 값을 1로 업데이트
customerData.loc[ (customerData.PRODUCTAGE >= 1) & 
                  (customerData.PRODUCTAGE < 2), "PRODUCTAGE_LOC" ] = 2
customerData.loc[ customerData.PRODUCTAGE < 3, "PRODUCTAGE_LOC" ] = 3
customerData.loc[ customerData.PRODUCTAGE >= 3, "PRODUCTAGE_LOC" ] = 4
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGENEW3,PRODUCTAGE_NEW4,PRODUCTAGE_LOC
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,2,2,3.0
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,3,3,3.0
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,3,5,4.0
3,A16605,3713.211107,2,6,0.900000,Early-bird,1,1,3.0
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,3,3,3.0
...,...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,3,3,3.0
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1,1,3.0
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,3,3,3.0
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2,2,3.0
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2,2,3.0

In [73]:
customerData.loc[ customerData.AVGPRICE >= 4100, "CUSTID" ]

0      A13566
15     D15289
16     D17241
18     E10778
25     F12979
66     M17538
113    T11473
130    W13404
Name: CUSTID, dtype: object

In [74]:
customerData.loc[ customerData.AVGPRICE >= 4100, "CUSTID" ].values[0]

'A13566'

In [75]:
list(customerData.loc[ customerData.AVGPRICE >= 4100, "CUSTID" ])

['A13566',
 'D15289',
 'D17241',
 'E10778',
 'F12979',
 'M17538',
 'T11473',
 'W13404']

## 요약

1. np.where (속도가 빠르다 간단한 조작 용도)
2. function (함수를 활용해서 데이터 조작하는!!! 그나마 복잡한 연산도 가능)
3. loc      (데이터베이스 update 조건 set 값)
            (조건에 따라 원하는 컬럼의 값을 values로 가져오는 방법까지)

## 데이터 컬럼간 연산하기

In [77]:
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGENEW3,PRODUCTAGE_NEW4,PRODUCTAGE_LOC
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,2,2,3.0
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,3,3,3.0
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,3,5,4.0
3,A16605,3713.211107,2,6,0.900000,Early-bird,1,1,3.0
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,3,3,3.0
...,...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,3,3,3.0
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1,1,3.0
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,3,3,3.0
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2,2,3.0
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2,2,3.0

In [79]:
### 데이터프레임명["컬럼명"] = 데이터프레임명["컬럼명"].str[0:4] + "test"

# customerData["NEW_COLUMN"] = customerData.CUSTID[1:]+"_"+customerData.EMI  # 에러남
# customerData["NEW_COLUMN"] = customerData.CUSTID.str[1:]+"_"+customerData.EMI  # 에러남

customerData["NEW_COLUMN"] = customerData.CUSTID.str[1:]+"_"+customerData.EMI.astype(str)
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGENEW3,PRODUCTAGE_NEW4,PRODUCTAGE_LOC,NEW_COLUMN
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,2,2,3.0,13566_3
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,3,3,3.0,14219_2
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,3,5,4.0,15312_2
3,A16605,3713.211107,2,6,0.900000,Early-bird,1,1,3.0,16605_2
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,3,3,3.0,10634_2
...,...,...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,3,3,3.0,13253_2
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1,1,3.0,13534_3
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,3,3,3.0,16428_2
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,2,2,3.0,16735_2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,2,2,3.0,19835_2