In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine, types

id = "JISOO"
pw = "jisoo"
ip = "192.168.110.111"
port ="1521"
dbName = "orcl"
dbSort = "oracle"

In [2]:
#플랫폼별로 엔진 문구 수정
if dbSort == "oracle":
    engineTxt = 'oracle+cx_oracle://{}:{}@{}:{}/{}' 
    #oracle은 !pip install cx_Oracle 모듈 설치 필요

engine = create_engine( engineTxt.format(id, pw, ip, port, dbName) )

In [8]:
inData = pd.read_clipboard()
inData.dtypes

아이디     object
비번       int64
주소      object
카드번호    object
dtype: object

In [9]:
# list(inData.columns)

['아이디', '비번', '주소', '카드번호']

In [11]:
# typeDictTmp = {}
# typeDictTmp["임시"] = types.VARCHAR(100)
# typeDictTmp["임시"]

VARCHAR(length=100)

In [12]:
inDataColumns = list(inData.columns)
tableName = "회원정보"

# db로 저장하기
typeDict={}

for column in inDataColumns:
    if inData[column].dtypes  == 'float':
        typeDict[column] = types.Float
    elif inData[column].dtypes  == 'object':
        typeDict[column] = types.VARCHAR(100)
        
inData.to_sql(name=tableName, 
              if_exists="replace", 
              con=engine, 
              dtype=typeDict, 
              index=False)

4